extends layout

block content
    .main.container
        .row
            h3 WikiLatic is a small Wikipedia data analytic web application. Dataset is queried using Wikipedia API. Functionalities include overall analytics, individual article analytics, and author analytics.

            div(class='row')
                div(class='column')
                    img(class='sampleimg' src="images/2.png" alt="dog")
                    h6 Sample chart showing overall analytics
                div(class='column')
                    img(class='sampleimg' src="images/1.png" alt="dog")
                    h6 Sample chart showing distribution by user types
                div(class='column')
                    img(class='sampleimg' src="images/3.png" alt="dog")
                    h6 Sample chart showing a certain user's distribution