extends layout

block content
    .main.container
        .row
            h3 WikiLatic is a Wikipedia data analytic web application. Available functionalities include:
                span
                    img(src="images/dog.jpg" alt="dog")
                    h4 Overall analytics
                    h6 Display results as text for queries about the whole Wikipedia dataset
                span
                    img(src="images/dog.jpg" alt="dog")
                    h4 Individual article analytics
                    h6 Display results about an article
                span
                    img(src="images/dog.jpg" alt="dog")
                    h4 Author analytics
                    h6 Display all articles that are changed by a specific author