extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
             div#articlesAuto
                 h6 Select article title
                 select#articles
                    option(value=-1) Articles
                 br
                 label(for='ArticleTitle') Or search here:
                 input#ArticleTitle(type='text' placeholder='Enter articles you want to search')
                 button#titleBtn.btn.btn-info Search

             div#articleInfo
                table
                    tr
                        td Title:
                        td#titleofArticle
                    tr
                        td Total number of revisions:
                        td#totalREvisions
                    tr
                        td Top 5 users
                        td#top5user