extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
             div#articlesAuto
                 select#articles
                    option(value=-1) Articles
                label(for='ArticleTitle') Title
                input#ArticleTitle(type='text' placeholder='Enter articles you want to search')
                button#titleBtn.btn.btn-info Select
            div#articleInfo
                table
                    tr
                        td Title:
                        td#titleofArticle
                    tr
                        td Total number of revisions:
                        td#totalREvisions
                    tr
                        td Top 5 users
                        td#top5user