nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
    button.navbar-toggler.hidden-md-up.pull-xs-right(type='button', data-toggle='collapse')
    #navbar.navbar-nav.collapse.navbar-toggleable-sm
        .container
            a.navbar-brand(='/')
                | WikiLatic
            .nav-items.clearfix
                a.nav-item.navlink(href='registrationPage') Sign Up
