extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
<<<<<<< HEAD
                form(method='GET' action='/MostEdit' id = 'most' name = 'most')
                    div.form-group
                        label(for='numOfRevision') Revision Number:
                        input#numOfRevision(type='number' min='1' max='100' value='3')
                    button.btn.btn-primary(type='submit') Submit
=======
                h1.display-4.m-b-2 Overall Analytics
                //form(method='GET' action='/searchByAuthor')
                //    div.form-group
                //        label(for='authorName') Author Name:
                //        input#authorName(type='text' placeholder='Author Name' name='authorName' style='color: black')
                //    button.btn.btn-primary(type='submit') Search

                // this is div with ID "authorRevisions" to display the results here.
>>>>>>> 01f87d93533facc0b27e3d1bcd36eda10a9f4304
                div#overallRevisionsMost this is author revisions
                div#overallRevisionsMin


}