extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Overall Analytics
                //form(method='GET' action='/searchByAuthor')
                //    div.form-group
                //        label(for='authorName') Author Name:
                //        input#authorName(type='text' placeholder='Author Name' name='authorName' style='color: black')
                //    button.btn.btn-primary(type='submit') Search

                // this is div with ID "authorRevisions" to display the results here.
                div#overallRevisionsMost this is author revisions
                div#overallRevisionsMin
